/* css for HeroSection component */
.main_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/HeroSection/hero-bg.png");
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

/* CSS for Ultimate DJ Tool component */
.ultimate_djtool_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/dj-tool-bg.png");
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

/* Additional styling for content overlay */
.ultimate_djtool_container {
  border: 2px solid gradient;
  position: relative;
}

/* heading conainer of djtool */
.djtool_heading_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}
.djtool_heading_container {
  position: relative;
}
.djtool_heading_container input[type="text"]::placeholder {
  color: #646789;
}
